table {
    border-collapse: collapse;
    width: 50%;
}
tr:hover {
    background-color: #4cff00;
}
td {
    text-align: center;
    padding: 5px;
}
thead {
    background-color: #b6ff00;
}
a {
    color: #000;
    text-decoration: none;
}