<style>
    #header {
        text-align: right;
        width: 100%;
    }
    #home {
        color: #000;
        text-decoration: none;
        font-size: large;
    }
</style>
<div id="header">
    <a id="home" href="/index.cshtml">Home</a>
    <hr>
</div>
